h1 {
   font-family: 'Rubik', sans-serif;
    font-size: 160%;
}

h3 {
   font-family: 'Rubik', sans-serif;
    font-size: 80%;
    text-align: center;
}

p {
  font-family: 'Rubik', sans-serif;
    font-style:bold;
    font-size:120%;
    border-top:4px solid black;
    padding: 15px;
    margin-top: 0px;
}

#navbar ul {
   margin: 0;
   padding: 5px;
   cellspacing: 0;
   cellpadding: 0;
   border: 0;
   list-style-type: none;
   background-color: white;
   width: 100%;
   }

#navbar ul li {
   display: inline;
   }

#navbar ul li a {
  font-family: 'Rubik', sans-serif;
  font-size: 120%;
   text-decoration: none;
   padding: .2em 1em;
   color: black;
   background-color: white;
   }

#navbar ul li a:hover {
  font-family: 'Rubik', sans-serif;
  font-size: 120%;
   color: #067188;
   background-color: white;
   }

}
.seat-chart {
  width: 90%;
  margin: 0 auto;
}

.available {
  background-position: center;
  margin: auto;
  background-repeat: no-repeat;
  width: 24%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
}

.reserved {
  background-position: center center;
  background-repeat: no-repeat;
  width: 24%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
}

.body {
  background-image: url(../images/background.jpg);
  background-attachment: fixed;
}
