h1 {
   font-family: 'Righteous', cursive;
    text-align:center;

}

p {
  font-family: 'Righteous', cursive;
  font-family: 'Kaushan Script', cursive;
    font-style:bold;
    font-size:130%;
    border:2px solid black;
    border-radius: 10px;
    padding: 2px;
}

.nav {
  background-image: url(images/stage_red_curtain-1000x620.jpg);
  background-size: 50%;
  background-position: center;    
  max-width: 100%;
  min-width: 140px;
  flex: 1;
  color: white;   
}
.nav > ul {
	margin:0px;
	padding:0px;
	float:left;
	list-style-type:none;
     text-align:inline-block;
}


.nav, h2{
    margin-left: 50px;
}
.seat-chart {
  width: 90%;
  margin: 0 auto;
}

.available {
  background-color: green;
  width: 24%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
}

.reserved {
  background-color: red;
  width: 24%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
}

body {
  background-image: url(images/background.jpg);
  background-attachment: fixed;
}

 .body {
  background-color: rgba(160,160,160,0.7);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
