h1 {
   font-family: 'Righteous', cursive;
}

p {
  font-family: 'Righteous', cursive;
<<<<<<< HEAD
  font-family: 'Kaushan Script', cursive;
=======
  font-family: 'Kaushan Script', cursive; 
    font-style:bold;
    font-size:130%;
    border:2px solid black;
    padding: 2px;
>>>>>>> d5efa691fdfae23e38e887a3be8d5cb3a8f3b422
}

.seat-chart {
  width: 90%;
  margin: 0 auto;
}

.available {
  background-color: green;
  width: 24%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
}

.reserved {
  background-color: red;
  width: 24%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
}

body {
  background-image: url(images/background.jpg);
  background-attachment: fixed;
}

 .body {
  background-color: rgba(160,160,160,0.7);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
