h1 {
   font-family: 'Righteous', cursive;
    text-align:center;

}

p {
  font-family: 'Abhaya Libre', serif;
    font-style:bold;
    font-size:180%;
    border-top:2px solid black;
    border-bottom:2px solid black;
    padding: 2px;
}

.nav {
  background-image: url(images/lights.jpg);
  background-size: 100%;
  background-position: center;    
  max-width: 100%;
  min-width: 140px;
  flex: 1;
  color: white;   
}
.nav > ul, li {
	margin-left:25px;
	padding:0px;
	float:left;
	list-style-type:none;
    text-align:inline-block;
}


.nav, h2{
    margin-left: 50px;
}
.seat-chart {
  width: 90%;
  margin: 0 auto;
}

.available {  
  background-position: center center;
  margin: auto;
  background-repeat: no-repeat;
  width: 24%;
  margin: auto;
  min-height: 100px;
  height: 8%;
  display: inline-block;
}

.reserved {
  background-position: center center;
  background-repeat: no-repeat;
  width: 24%;
  margin: auto;
  min-height: 120px;
  height: 8%;
  display: inline-block;
}

body {
  background-image: url(images/background.jpg);
  background-attachment: fixed;
}

 .body {
  background-color: rgba(128,128,128,0.7);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
